.container {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.box {
    width: 60px;
    height: 60px;
    /* background-color: #ddd; */
    /* margin: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid black;
}

.box.drag-over {
    background-color: #ccc;
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.box {
    width: 60px;
    height: 60px;
    /* background-color: #ddd; */
    /* margin: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.box.drag-over {
    background-color: #ccc;
}
